# Serverless directories
.serverless

# Sources and Config Files
config
src
.idea
.editorconfig
.eslintcache
.eslintrc.js
nodemon.json
tsconfig.json
webpack.config.js
serverless.yml
_config.yml
jest.config.js
coverage
